/*шрифт - иконки*/
@import url(font-awesome.min.css);
/*основные шрифты*/
@font-face {
    font-family:Ubuntu-L;
    src: local("Ubuntu-L"),url(fonts/Ubuntu-L.ttf);
}
@font-face {
    font-family:Ubuntu-M;
    src:local("Ubuntu-M"),url(fonts/Ubuntu-M.ttf);
}
@font-face {
    font-family:Ubuntu-B;
    src:local("Ubuntu-B"),url(fonts/Ubuntu-B.ttf);
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
img{
	border:none;
}
body{
	background-color:#e8e8e8;
	font-size:15px;
	font-family:Ubuntu-L;
	color:#222;
}
#auth{
	width: 400px;
	height: 250px;
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
#auth .logo{
	background:url(../img/auth_logo.jpg) no-repeat center center;
	background-size:contain;
	height:100px;
}
#auth h1{
	text-align:center;
	text-transform: uppercase;
	font-size: 40px;
	color:#6b6b6b;
	font-family: Garamond;
}
#auth h1:after{
	content:"";
	display:block;
	margin:0 auto;
	width:270px;
	height:1px;
	background: #6b6b6b;
}
#auth h2{
	text-align:center;
	text-transform: uppercase;
	margin-top:3px;
	font-size: 20px;
	color:#6b6b6b;
	font-family: Garamond;
	margin-bottom:25px;
}


#auth input{
	border:1px solid #ccc;
	width:80%;
	margin:10px 10% 0;
	padding:10px;
	border-radius:3px;
	color:#6b6b6b;
	text-align:center;
}
#auth input:focus{
	outline: rgba(107, 107, 107, 0.24) solid 3px;
}
#auth label{
	font-style: italic;
	font-size: 80%;
	margin-left:10%;
	opacity:0;
	float:left;
}
#auth label.visible{
	opacity:1;
}
#auth .button{
	float:right;
	border:1px solid #eee;
	color:#6b6b6b;
	background:#ccc;
	padding:7px 15px;
	margin:10px 10% 0 0;
	cursor:pointer;
	border-radius:3px;
	transition: all .5s ease .1s;
}
#auth .button:hover{
	transition: all .7s ease .1s;
	background:#6b6b6b;
	color:#fff;
}
.bad_data{
	border:1px solid red !important;
}